h1{
    color: brown;
    font-weight: 700;
    font-size: 5em;
    
}
html{
    height: 100%;
    width: 100%;
}
#content{
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px black,
                 0px 8px 13px white;

}
body{
    background: url(img/img1.jpg);
    background-size: cover;
    background-position: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: slide 10s infinite;
}
h3{
    color:black ;
    text-shadow: 0px 4px 3px rgba(255, 255, 255, 0.336);
}
hr{
    width: 700px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.navbar {
    background-color:rgba(228, 216, 216, 0.781);
    border: none;
    color: black;
}
.nav{
    padding-right: 15px;
    font-size: large;
}
button{
    border-radius: 15px;
    border: none;

}
@keyframes slide{
    0%{
        background-image: url(img/img1.jpg);
    }
    33%{
        background-image: url(img/img2.jpg);
    }
    67%{
        background-image: url(img/img3.jpg);
    }
    100%{
        background-image: url(img/img4.jpg)}
}
